swagger: '2.0'
x-stoplight:
  id: 3oe3af0u4ewoc
info:
  title: ConomyProd
  description: "This is **Conomy Developers**, the portal where you cand find our API Reference with everything you need to use our APIs. We've tried to build a friendly documentation, if you have any doubt please don't hesitate to reach us out at hola@conomyhq.com. We hope you enjoy this site \U0001F44B.\n\nCurrently we have a microservices backend architecture serving for different purposes. You can find their description in the left menu with the detail of each of their specific endpoints.\n\n**Addresses Service**: Users addresses information, you can fetch address data with its specific user id, bringing parameters like region, commune, first_address and an optional description address.\n\n**Cards Service**: Cards information, search and match any card that is owned by specific user id and respond an array of card objects. \n\n**Transactions Service**: This service provides transactions information, you can fetch transaction data with its specific card id, bringing parameters like title, amount, currency among others.\n\n**Users Service**: This service provides users information, with its user id you can get all the user data and also make some changes to its personal information.\n\n**Authorization Service**: This service lets the user to have its private pin, letting him take control over his personal data with a configured pin pass. \n\n**Others..."
  version: 1.0.1
  contact:
    email: hola@conomyhq.com
    name: Conomy app
host: api.conomy.app
schemes:
  - https
produces:
  - application/json
securityDefinitions:
  apitoken:
    type: apiKey
    name: x-api-key
    in: header
  Bearer Token:
    name: Authorization
    type: apiKey
    in: header
paths:
  '/conomyCard/{conomyCardId}':
    get:
      summary: "Get all the information of a specific Conomy Card \U0001F4B3"
      security:
        - apitoken: []
      responses:
        '200':
          description: Response a conomy card model
          schema:
            $ref: '#/definitions/ConomyCard'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              externalId: 3c7634c41a7c48db8d8eed907f653865
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              issuingBank: CONOMY
              cardBrand: MASTERCARD
              cardholderName: Pablo insulza
              pan: '************1234'
              currency: CLP
              description: '************1234'
              isActive: false
              accountNumber: '1111111111'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: getConomyCardId
      description: 'The Conomy Card service provides all the data about Conomy Cards, and the GET method fetch a specific card by its id.'
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    delete:
      summary: "Delete a specific Conomy Card by its id \U0001F4B3"
      security:
        - apitoken: []
      responses:
        '204':
          description: No content
          schema:
            $ref: '#/definitions/Response204'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: deleteConomyCardId
      description: 'The Conomy Card service provides all the data about Conomy Cards, and the DELETE method deletes a specific card by its id.'
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
    patch:
      summary: Patch a specific Conomy Card by its id \U0001F4B3
      operationId: patch-conomyCard-conomyCardId
      description: 'The Conomy Card service provides all the data about Conomy Cards, and the GET method fetch a specific card by its id.'
      tags:
        - Conomy Card
      security:
        - apitoken: []
      responses:
        '200':
          description: Response a conomy card model
          schema:
            $ref: '#/definitions/ConomyCard'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              externalId: 3c7634c41a7c48db8d8eed907f653865
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              issuingBank: CONOMY
              cardBrand: MASTERCARD
              cardholderName: Pablo insulza
              pan: '************1234'
              currency: CLP
              description: '************1234'
              isActive: false
              accountNumber: '1111111111'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ConomyCardPatch'
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/conomyCard/{conomyCardId}/temporalBlock':
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    post:
      summary: Temporally block a Conomy Card
      operationId: post-conomyCard-conomyCardId-temporalBlock
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/conomyCard/{conomyCardId}/activate':
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    post:
      summary: Activate a Conomy Card
      operationId: post-conomyCard-conomyCardId-activate
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/conomyCard/{conomyCardId}/OTP':
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    get:
      summary: Get conomy card OTP
      operationId: get-conomyCard-conomyCardId-OTP
      responses:
        '200':
          description: OK
          schema:
            type: object
            x-examples:
              Example 1:
                OTP: 'c669f980f4eaac638938e572b3d6e093:d7717c62dacf411818e25be941a774bd'
                expirationTime: 60
            properties:
              OTP:
                type: string
                description: encrypted OTP
              expirationTime:
                type: integer
                description: expiration time in seconds
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/conomyCard/{conomyCardId}/temporalUnblock':
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    post:
      summary: Temporally unblock a Conomy Card
      operationId: post-conomyCard-conomyCardId-temporalUnblock
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/conomyCard/{conomyCardId}/block':
    parameters:
      - name: conomyCardId
        in: path
        required: true
        type: string
        format: uuid
        description: Unique identifier of the conomy card to be used
    post:
      summary: Block a Conomy Card
      operationId: post-conomyCard-conomyCardId-block
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      tags:
        - Conomy Card
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  /conomyCard/rules:
    parameters: []
    get:
      summary: Get Conomy Card applicable rules
      operationId: get-conomyCard-rules
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Rule'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      description: 'The Conomy Card service provides all the data about Conomy Cards, and the GET method fetch the rules that can be added to it.'
      tags:
        - Conomy Card
      security:
        - apitoken: []
      parameters: []
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  /conomyCard:
    parameters: []
    post:
      summary: "Create a new Conomy Card \U0001F4B3"
      operationId: postConomyCard
      security:
        - apitoken: []
        - Bearer Token: []
      responses:
        '201':
          description: Response a conomy card model
          schema:
            $ref: '#/definitions/ConomyCard'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              externalId: 3c7634c41a7c48db8d8eed907f653865
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              issuingBank: CONOMY
              cardBrand: MASTERCARD
              cardholderName: Pablo insulza
              pan: '************1234'
              currency: CLP
              description: '************1234'
              isActive: false
              accountNumber: '1111111111'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - Conomy Card
      description: The Conomy Card service host all the data about Conomy Cards and the POST method creates a new Conomy Card based on the attributes provided.
      parameters:
        - type: string
          in: query
          name: userId
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
    get:
      summary: Get conomy card
      operationId: get-conomyCard
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            x-examples:
              Example 1:
                conomyCard:
                  id: 63f535fd5813f5eec9fbcedf
                  externalId: f53d5e7e-2c8c-0bd3-e053-532310ac1402
                  userId: 20014497-K
                  issuingBank: CONOMY
                  cardBrand: MASTERCARD
                  cardholderName: Nicolas Horacio Martinez Alfaro
                  pan: ''
                  currency: CLP
                  description: ''
                  accountNumber: '000000120014497'
                  status: ACTIVE
                  ruleIds: null
                cipherCard: MIAGCSqGSIb3DQEHA6CAMIACAQIxggEwMIIBLAIBAoAUWwUA8cj6Bdcph9HPtFRinZS+SkwwDQYJKoZIhvcNAQEBBQAEggEAZqmzhntpelEEaSqNxYb7KHPD0/xVeX364q0ys4VARcVOXhmkhBqHoyKtHbdP/7DG69wXJ6/ddOLLg3lHs9VTiRXpQlXOOfe7U0Mto92sq9qA8M76uytqxggJCQYAEuP68rMsmVy3+slvYc1JTZ8ZzyBxFoq+cbKYevPK/eyFSQ+wD8IUtHcbrvMgkfPzT0oBNlz9sz6FUNeKoNxk8LP0jqYDWmDTJilgCLU8mgbYI4mPZiqdqa+uW5csLa7lZZLxjNy3RYT4cCeErBjM3tfuI/I2J6u99yl0W4fvdpCQJqguEM0bplYxF+cT1d0L1Le3zNDhnt15sDYQPWrJDdiIqjCABgkqhkiG9w0BBwEwHQYJYIZIAWUDBAEqBBCuH4S74kJAYWvOHGNoPeTuoIAEQLBuXuNTDDiXkYj8TNqlfaRxEIMb0GWYHdTqLX8GirNc2htiPFYwmdpbT0DUGdhKE0kSsUgS9DvAiMBSm5280cIAAAAAAAAAAAAA
            properties:
              conomyCard:
                type: object
                properties:
                  id:
                    type: string
                  externalId:
                    type: string
                  userId:
                    type: string
                  issuingBank:
                    type: string
                  cardBrand:
                    type: string
                  cardholderName:
                    type: string
                  pan:
                    type: string
                  currency:
                    type: string
                  description:
                    type: string
                  accountNumber:
                    type: string
                  status:
                    type: string
                  ruleIds:
                    type: array
                    x-nullable: true
                    items:
                      type: string
              cipherCard:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
        - Bearer Token: []
      parameters:
        - type: string
          in: query
          name: userId
        - type: string
          in: query
          name: id
        - type: string
          in: query
          name: accountNumber
        - type: string
          in: query
          name: externalId
  '/conomyCard/{conomyCardId}/availableFunds':
    get:
      summary: ''
      operationId: get-conomyCard-availableFunds
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              availableFunds:
                type: string
              accounts:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    availableFunds:
                      type: string
                    accountNumber:
                      type: string
                    active:
                      type: boolean
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      description: Get available funds and accounts of the conomy card
    parameters:
      - type: string
        name: conomyCardId
        in: path
        required: true
  /conomyCard/status:
    parameters: []
    get:
      summary: Get conomy card status
      operationId: get-conomyCardStatus
      x-google-backend:
        deadline: '30'
        address: 'https://data-report-composite-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: string
            x-examples:
              Example 1:
                conomyCard:
                  id: 63f535fd5813f5eec9fbcedf
                  externalId: f53d5e7e-2c8c-0bd3-e053-532310ac1402
                  userId: 20014497-K
                  issuingBank: CONOMY
                  cardBrand: MASTERCARD
                  cardholderName: Nicolas Horacio Martinez Alfaro
                  pan: ''
                  currency: CLP
                  description: ''
                  accountNumber: '000000120014497'
                  status: ACTIVE
                  ruleIds: null
                cipherCard: MIAGCSqGSIb3DQEHA6CAMIACAQIxggEwMIIBLAIBAoAUWwUA8cj6Bdcph9HPtFRinZS+SkwwDQYJKoZIhvcNAQEBBQAEggEAZqmzhntpelEEaSqNxYb7KHPD0/xVeX364q0ys4VARcVOXhmkhBqHoyKtHbdP/7DG69wXJ6/ddOLLg3lHs9VTiRXpQlXOOfe7U0Mto92sq9qA8M76uytqxggJCQYAEuP68rMsmVy3+slvYc1JTZ8ZzyBxFoq+cbKYevPK/eyFSQ+wD8IUtHcbrvMgkfPzT0oBNlz9sz6FUNeKoNxk8LP0jqYDWmDTJilgCLU8mgbYI4mPZiqdqa+uW5csLa7lZZLxjNy3RYT4cCeErBjM3tfuI/I2J6u99yl0W4fvdpCQJqguEM0bplYxF+cT1d0L1Le3zNDhnt15sDYQPWrJDdiIqjCABgkqhkiG9w0BBwEwHQYJYIZIAWUDBAEqBBCuH4S74kJAYWvOHGNoPeTuoIAEQLBuXuNTDDiXkYj8TNqlfaRxEIMb0GWYHdTqLX8GirNc2htiPFYwmdpbT0DUGdhKE0kSsUgS9DvAiMBSm5280cIAAAAAAAAAAAAA
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
        - Bearer Token: []
      parameters:
        - type: string
          in: query
          name: userId
        - type: string
          in: query
          name: id
        - type: string
          in: query
          name: accountNumber
        - type: string
          in: query
          name: externalId
  /user/composite:
    post:
      summary: "Create a new user in the db \U0001F929"
      operationId: addUser-composite
      description: 'The Users services provides user information. The /user endpoint with a POST method register a new user in the db with its personal information such as name, last name, national id, phone among other data.'
      consumes:
        - application/json
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - in: body
          name: User
          description: User schema
          schema:
            $ref: '#/definitions/UserCreateComposite'
          x-examples: {}
      responses:
        '201':
          description: matching user
          schema:
            $ref: '#/definitions/UserResponseComposite'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
    parameters: []
    get:
      summary: ''
      operationId: get-user-composite
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: search results matching criteria
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
      parameters:
        - type: string
          in: query
          name: email
          description: email of the user
  /user/composite/validate:
    parameters: []
    post:
      summary: Validate User by phone and DNI
      operationId: post-user-composite-validate
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
      description: The Users services provides user information. The /user/composite/validate endpoint with a POST method validates the user by phone and DNI.
      security:
        - apitoken: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              phone:
                type: string
              dni:
                type: string
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  /v2/user/composite/recover:
    parameters: []
    post:
      summary: Validate User by phone and email
      operationId: post-user-composite-recover
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
      description: The Users services provides user information. The /user/composite/recover endpoint with a POST method validates the user by phone and email.
      security:
        - apitoken: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              phone:
                type: string
              email:
                type: string
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-v2-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/user/composite/{userId}/verify':
    parameters:
      - type: string
        name: userId
        in: path
        required: true
    post:
      summary: Verify Kyc
      operationId: post-user-composite-userId-verify
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
      description: Verify kyc
      security:
        - apitoken: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
              lastName:
                type: string
              dni:
                type: string
              kyc:
                $ref: '#/definitions/Kyc'
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/v2/user/composite/{userId}/verify':
    parameters:
      - type: string
        name: userId
        in: path
        required: true
    post:
      summary: Verify Kyc
      operationId: post-user-composite-userId-verify-v2
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
      description: Verify kyc
      security:
        - apitoken: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
              lastName:
                type: string
              dni:
                type: string
              kyc:
                $ref: '#/definitions/Kyc'
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-v2-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  /user/composite/onboarding/webhook:
    parameters: []
    post:
      summary: Update Onboarding Status
      operationId: post-user-composite
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - User
      description: The Users services provides user information. The /user/composite/onboarding/webhook endpoint with a POST method updating the onboarding status.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              onboardingStatus:
                type: string
              interviewId:
                type: string
              externalId:
                type: string
            x-examples:
              Example 1:
                onboardingStatus: ID_VALIDATION_FINISHED
                interviewId: asd-asd
                externalId: asd-asd
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  '/user/composite/{userId}/accounts/saving':
    parameters:
      - name: userId
        in: path
        required: true
        type: string
        description: Unique identifier of the user to be used
    get:
      summary: Get user saving account
      operationId: get-user-composite-userId-account-saving
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              title:
                type: string
              totalFunds:
                type: string
              totalBalance:
                type: string
              accounts:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    balance:
                      type: string
                    availableFunds:
                      type: string
                    currency:
                      type: string
                    name:
                      type: string
                    accountNumber:
                      type: string
                    accountHolder:
                      type: string
                    emoji:
                      type: object
                      properties:
                        Image:
                          type: string
                        Color:
                          type: string
            x-examples:
              Example 1:
                title: Tu balance en CLP ☀️
                totalFunds: '$554.729 '
                totalBalance: '$554.729 '
                accounts:
                  - type: CLP
                    balance: '$0 '
                    availableFunds: '$0 '
                    currency: ''
                    name: Cuenta CLP
                    accountNumber: ''
                    accountHolder: ''
                    emoji:
                      Image: purse
                      Color: ''
                  - type: SAVING_USDC
                    balance: '$460,69 '
                    availableFunds: '$460,69 '
                    currency: ''
                    name: Objetivos
                    accountNumber: ''
                    accountHolder: ''
                    emoji:
                      Image: bullseye
                      Color: ''
                  - type: USDC
                    balance: '$233,19 '
                    availableFunds: '$233,19 '
                    currency: ''
                    name: Cuenta USDC
                    accountNumber: ''
                    accountHolder: ''
                    emoji:
                      Image: money bag
                      Color: ''
          examples:
            without v:
              - id: 63dd6d62562726050a9cf9c0
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:24:02.069 +0000 UTC'
                type: CLP
                balance: '0'
                availableFunds: '0'
                currency: CLP
                name: Cuenta CLP
                accountNumber: '000000120014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: purse
                  Color: ''
              - id: 63dd6d64562726050a9cf9c1
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:24:04.087 +0000 UTC'
                type: USDC
                balance: '183.27'
                availableFunds: '183.19'
                currency: USDC
                name: Cuenta USDC
                accountNumber: '000000320014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: money bag
                  Color: green
              - id: 63dd73fd562726050a9cf9cb
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:52:13.147 +0000 UTC'
                type: SAVING_USDC
                balance: '85.70'
                availableFunds: '85.66'
                currency: USDC
                name: Asadito
                accountNumber: '000000220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: baby bottle
                  Color: newLightBlue
              - id: 63de489e562726050a9cf9f1
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-04 11:59:26.226 +0000 UTC'
                type: SAVING_USDC
                balance: '264.44'
                availableFunds: '264.31'
                currency: USDC
                name: Depto
                accountNumber: '000001220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: fireworks
                  Color: newYellow
              - id: 63dfb84f562726050a9cf9f4
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-05 14:08:15.378 +0000 UTC'
                type: SAVING_USDC
                balance: '160.76'
                availableFunds: '110.72'
                currency: USDC
                name: Auto
                accountNumber: '000002220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: mountain
                  Color: newPurple
            without currency summary:
              accounts:
                - id: 63dd6d62562726050a9cf9c0
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:24:02.069 +0000 UTC'
                  type: CLP
                  balance: $0 CLP
                  availableFunds: $0 CLP
                  currency: CLP
                  name: Cuenta CLP
                  accountNumber: '000000120014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: purse
                    Color: ''
                - id: 63dd6d64562726050a9cf9c1
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:24:04.087 +0000 UTC'
                  type: USDC
                  balance: '$233,19 USDC'
                  availableFunds: '$233,19 USDC'
                  currency: USDC
                  name: Cuenta USDC
                  accountNumber: '000000320014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: money bag
                    Color: green
                - id: 63dd73fd562726050a9cf9cb
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:52:13.147 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$85,66 USDC'
                  availableFunds: '$85,66 USDC'
                  currency: USDC
                  name: Asadito
                  accountNumber: '000000220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: baby bottle
                    Color: newLightBlue
                - id: 63de489e562726050a9cf9f1
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-04 11:59:26.226 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$264,31 USDC'
                  availableFunds: '$264,31 USDC'
                  currency: USDC
                  name: Depto
                  accountNumber: '000001220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: fireworks
                    Color: newYellow
                - id: 63dfb84f562726050a9cf9f4
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-05 14:08:15.378 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$110,72 USDC'
                  availableFunds: '$110,72 USDC'
                  currency: USDC
                  name: Auto
                  accountNumber: '000002220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: mountain
                    Color: newPurple
            with currency summary:
              title: Tu balance en CLP ☀️
              totalFunds: '$554.729 '
              totalBalance: '$554.729 '
              accounts:
                - type: CLP
                  balance: '$0 '
                  availableFunds: '$0 '
                  currency: ''
                  name: Cuenta CLP
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: purse
                    Color: ''
                - type: SAVING_USDC
                  balance: '$460,69 '
                  availableFunds: '$460,69 '
                  currency: ''
                  name: Objetivos
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: bullseye
                    Color: ''
                - type: USDC
                  balance: '$233,19 '
                  availableFunds: '$233,19 '
                  currency: ''
                  name: Cuenta USDC
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: money bag
                    Color: ''
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: |-
        The Users services provides user information. The /user/composite/{userId}/accounts/saving endpoint with a GET method fetch the accounts of the user.
        Additionaly you can use the 'currencySummary' param to ask for the summary with an specific currency.
      tags:
        - User
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - type: string
          in: query
          name: currencySummary
          description: currency to generate the summary
        - type: string
          in: query
          name: v
          description: version of endpoint
  '/user/composite/{userId}/accounts/rewards':
    parameters:
      - type: string
        name: userId
        in: path
        required: true
    get:
      summary: Get user account rewards
      operationId: get-user-composite-userId-account-rewards
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              title:
                type: string
              totalRewards:
                type: string
              initialBalance:
                type: string
              rewardRate:
                type: string
              currency:
                type: string
              accountsRewards:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    userId:
                      type: string
                    externalId:
                      type: string
                    type:
                      type: string
                    totalReward:
                      type: string
                    initialBalance:
                      type: string
                    rewardRate:
                      type: string
                    currency:
                      type: string
                    name:
                      type: string
                    accountNumber:
                      type: string
                    accountHolder:
                      type: string
            x-examples:
              Example 1:
                title: ''
                totalRewards: '200'
                initialBalance: ''
                rewardRate: ''
                currency: ''
                accountsRewards:
                  - id: string
                    userId: string
                    externalId: string
                    type: string
                    totalReward: string
                    initialBalance: string
                    rewardRate: string
                    currency: string
                    name: string
                    accountNumber: string
                    accountHolder: string
          examples:
            without v:
              - id: 63dd6d62562726050a9cf9c0
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:24:02.069 +0000 UTC'
                type: CLP
                balance: '0'
                availableFunds: '0'
                currency: CLP
                name: Cuenta CLP
                accountNumber: '000000120014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: purse
                  Color: ''
              - id: 63dd6d64562726050a9cf9c1
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:24:04.087 +0000 UTC'
                type: USDC
                balance: '183.27'
                availableFunds: '183.19'
                currency: USDC
                name: Cuenta USDC
                accountNumber: '000000320014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: money bag
                  Color: green
              - id: 63dd73fd562726050a9cf9cb
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-03 20:52:13.147 +0000 UTC'
                type: SAVING_USDC
                balance: '85.70'
                availableFunds: '85.66'
                currency: USDC
                name: Asadito
                accountNumber: '000000220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: baby bottle
                  Color: newLightBlue
              - id: 63de489e562726050a9cf9f1
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-04 11:59:26.226 +0000 UTC'
                type: SAVING_USDC
                balance: '264.44'
                availableFunds: '264.31'
                currency: USDC
                name: Depto
                accountNumber: '000001220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: fireworks
                  Color: newYellow
              - id: 63dfb84f562726050a9cf9f4
                userId: 63dd66ae6b7d516855e544df
                externalId: '2023-02-05 14:08:15.378 +0000 UTC'
                type: SAVING_USDC
                balance: '160.76'
                availableFunds: '110.72'
                currency: USDC
                name: Auto
                accountNumber: '000002220014497'
                accountHolder: Nicolas Horacio Martinez Alfaro
                emoji:
                  Image: mountain
                  Color: newPurple
            without currency summary:
              accounts:
                - id: 63dd6d62562726050a9cf9c0
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:24:02.069 +0000 UTC'
                  type: CLP
                  balance: $0 CLP
                  availableFunds: $0 CLP
                  currency: CLP
                  name: Cuenta CLP
                  accountNumber: '000000120014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: purse
                    Color: ''
                - id: 63dd6d64562726050a9cf9c1
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:24:04.087 +0000 UTC'
                  type: USDC
                  balance: '$233,19 USDC'
                  availableFunds: '$233,19 USDC'
                  currency: USDC
                  name: Cuenta USDC
                  accountNumber: '000000320014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: money bag
                    Color: green
                - id: 63dd73fd562726050a9cf9cb
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-03 20:52:13.147 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$85,66 USDC'
                  availableFunds: '$85,66 USDC'
                  currency: USDC
                  name: Asadito
                  accountNumber: '000000220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: baby bottle
                    Color: newLightBlue
                - id: 63de489e562726050a9cf9f1
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-04 11:59:26.226 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$264,31 USDC'
                  availableFunds: '$264,31 USDC'
                  currency: USDC
                  name: Depto
                  accountNumber: '000001220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: fireworks
                    Color: newYellow
                - id: 63dfb84f562726050a9cf9f4
                  userId: 63dd66ae6b7d516855e544df
                  externalId: '2023-02-05 14:08:15.378 +0000 UTC'
                  type: SAVING_USDC
                  balance: '$110,72 USDC'
                  availableFunds: '$110,72 USDC'
                  currency: USDC
                  name: Auto
                  accountNumber: '000002220014497'
                  accountHolder: Nicolas Horacio Martinez Alfaro
                  emoji:
                    Image: mountain
                    Color: newPurple
            with currency summary:
              title: Tu balance en CLP ☀️
              totalFunds: '$554.729 '
              totalBalance: '$554.729 '
              accounts:
                - type: CLP
                  balance: '$0 '
                  availableFunds: '$0 '
                  currency: ''
                  name: Cuenta CLP
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: purse
                    Color: ''
                - type: SAVING_USDC
                  balance: '$460,69 '
                  availableFunds: '$460,69 '
                  currency: ''
                  name: Objetivos
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: bullseye
                    Color: ''
                - type: USDC
                  balance: '$233,19 '
                  availableFunds: '$233,19 '
                  currency: ''
                  name: Cuenta USDC
                  accountNumber: ''
                  accountHolder: ''
                  emoji:
                    Image: money bag
                    Color: ''
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: |-
        The Users services provides user information. The /user/composite/63dd8c796b7d516855e544e1/accounts/rewards?currency=CLP&accountNumber&accountType endpoint with a GET method fetch the accounts rewards of the user.
        Additionaly you can use the 'currencySummary' param to ask for the summary with an specific currency.
      tags:
        - User
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - type: string
          in: query
          name: currency
          description: currency to generate filter
        - type: string
          in: query
          name: accountNumber
          description: account number
        - type: string
          in: query
          name: accountType
          description: 'account type (CLP, USDC, SAVING...)'
  '/user/composite/{userId}/validate':
    post:
      tags:
        - User
      summary: "Validate the user account\U0001F929"
      operationId: validateUser-composite
      description: 'The Users services provides user information. The /user/composite/{userId}/validate endpoint with a POST method validates the user account.'
      consumes:
        - application/json
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters: []
      responses:
        '200':
          description: matching user
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
    parameters:
      - type: string
        name: userId
        in: path
        required: true
  '/user/composite/{userId}/active':
    post:
      tags:
        - User
      summary: "Active the user account\U0001F929"
      operationId: activeUser-composite
      description: 'The Users services provides user information. The /user/composite/{userId}/active endpoint with a POST method actives the user account.'
      consumes:
        - application/json
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters: []
      responses:
        '200':
          description: matching user
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
    parameters:
      - type: string
        name: userId
        in: path
        required: true
  '/v2/user/composite/{userId}/active':
    post:
      tags:
        - User
      summary: "Active the user account\U0001F929"
      operationId: activeUser-composite-v2
      description: 'The Users services provides user information. The /user/composite/{userId}/active endpoint with a POST method actives the user account.'
      consumes:
        - application/json
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-v2-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters: []
      responses:
        '200':
          description: matching user
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
    parameters:
      - type: string
        name: userId
        in: path
        required: true
  '/user/composite/{userId}/inactive':
    post:
      tags:
        - User
      summary: "Disable the user account\U0001F929"
      operationId: inactiveUser-composite
      description: 'The Users services provides user information. The /user/composite/{userId}/active endpoint with a POST method disables the user account.'
      consumes:
        - application/json
      security:
        - apitoken: []
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters: []
      responses:
        '200':
          description: matching user
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
    parameters:
      - type: string
        name: userId
        in: path
        required: true
  /user/composite/baseContract:
    parameters: []
    get:
      summary: Base Contract
      operationId: get-user-composite-baseContract
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              url:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      description: The Users service provides user information. The /user/compoiste/baseContract endpoint with a GET retriees a base contract
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      tags:
        - User
  /user/composite/termsAndConditions:
    parameters: []
    get:
      summary: Terms & Conditions
      operationId: terms&conditions
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              url:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error500'
      description: 'The Users service provides user information. The /user/compoiste/termsAndConditions endpoint with a GET retrieves a terms and condition files '
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      tags:
        - User
  '/user/composite/{userId}':
    get:
      tags:
        - User
      summary: "Get a specific user \U0001F60A"
      operationId: getUser-composite
      description: 'The Users service provides user information. The /users/{userId} endpoint with a GET method deletes a specific user by its id.'
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: search results matching criteria
          schema:
            $ref: '#/definitions/User'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              name: Lalo
              nickName: LaloLanda
              lastName: Landa
              email: lalolanda@conomyhq.com
              phone: '+5691238159123'
              dni: 12612412-2
              career: jugador de futbol
              address:
                administrativeAreaLevel1: Región metropolitana
                administrativeAreaLevel2: Provincia de Santiago
                administrativeAreaLevel3: Providencia
                street: Los Pillines
                streetNumber: string
                optionalAddress: Departamento 402
                country: CL
              status: ACTIVE
              contractId: 976b47f1be414f86adb9afc295c2f8ef
              rulesId:
                - 629144bd1bde2cf264deefde
                - 629144bd1bd6e2cf2645ba7e
              image: 'http://example.com'
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      security:
        - apitoken: []
    parameters:
      - name: userId
        in: path
        required: true
        type: string
        description: Unique identifier of the user to be used
    delete:
      summary: Delete user by ID
      operationId: deleteUserById-composite
      responses:
        '204':
          description: No content
          schema:
            $ref: '#/definitions/Response204'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: 'The Users service provides user information. The /users/{userId} endpoint with a DELETE method fetch a specific user by its user id from the db with its personal information such as name, last name, national id, phone among other data.'
      tags:
        - User
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
    patch:
      summary: Update user by userId
      operationId: patchUser-composite
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: 'The Users services provides user information. The /composite/user/{userId} endpoint with a PATCH method updates defined updatables attributes in the db.'
      security:
        - apitoken: []
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UserModifyComposite'
          description: ''
          x-examples: {}
      tags:
        - User
      x-google-backend:
        deadline: '30'
        address: 'https://users-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
  /switch:
    post:
      summary: "Switch Transaction from Processor\U0001F511"
      operationId: transactionSwitch
      description: The Switch service receive transaction's information. The /transaction endpoint with a POST method register every transaction.
      consumes:
        - application/json
      x-google-backend:
        deadline: '30'
        address: 'https://switch-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - in: body
          name: User
          description: User schema
          schema:
            $ref: '#/definitions/SwitchTransaction'
          x-examples: {}
      responses:
        '201':
          description: matching user
          schema:
            $ref: '#/definitions/SwitchTransactionResponse'
          examples:
            Response:
              conomyCardId: 62cc8f8a4536f821e4f4d317
              amount: 24670
              currency: CLP
              transactionExternalId: 3c6734c41b8e48db8d8eed907f652314
              links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - Transaction Switch
      security:
        - apitoken: []
    parameters: []
  /switchTowallet:
    post:
      summary: "Switch Transaction To Wallet \U0001F511"
      operationId: transactionSwitchToWallet
      description: The Switch service receive transaction's information. The /transaction endpoint with a POST method register every transaction.
      consumes:
        - application/json
      parameters:
        - in: body
          name: User
          description: User schema
          schema:
            $ref: '#/definitions/SwitchTransactionToWallet'
          x-examples: {}
      responses:
        '201':
          description: matching user
          schema:
            $ref: '#/definitions/SwitchTransactionResponse'
          examples:
            Success response:
              conomyCardId: 62cc8f8a4536f821e4f4d317
              amount: 24670
              currency: CLP
              transactionExternalId: 3c6734c41b8e48db8d8eed907f652314
              links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      tags:
        - Transaction Switch
      security:
        - apitoken: []
    parameters: []
  /goals-challenges/composite:
    post:
      summary: Create goal or challenge
      tags:
        - Goals & Challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/GoalandChallengeResponse'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              type: CHALLENGE
              description:
                title: 52 semanas con conomy.
                image: "\U0001F600"
                color: '#DF1CFF'
                detail: Con conomy podrás ahorrar sin darte cuenta.
              endTime: '2022-07-221T17:32:28Z'
              targetAmount: 200000
              balance: 0
              rules:
                - 629144bd1bde2cf264deefde
              status: ACTIVE
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
              _links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: post-v1-goals
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GoalandChallengeCreate'
          description: Goal & challenge schema
          x-examples: {}
      security:
        - apitoken: []
    parameters: []
    get:
      summary: Get goals and challenges by userid
      operationId: get-v1-goals-challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              goalAndChallenge:
                type: array
                items:
                  $ref: '#/definitions/GoalandChallenge'
          examples:
            Success response:
              goalAndChallenge:
                - id: 62cc8f8a5136f82e4f4d3531
                  userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
                  userExternalId: 3c7634c41a7c48db8d8eed907f653865
                  type: CHALLENGE
                  description:
                    title: 52 semanas con conomy.
                    image: "\U0001F600"
                    color: '#DF1CFF'
                    detail: Con conomy podrás ahorrar sin darte cuenta.
                  endTime: '2022-07-221T17:32:28Z'
                  targetAmount: 200000
                  balance: 0
                  rules:
                    - 629144bd1bde2cf264deefde
                  status: ACTIVE
                  createdAt: '2017-07-21T17:32:28Z'
                  updatedAt: '2022-07-221T17:32:28Z'
                  _links:
                    rel: string
                    route: string
                    method: string
                    targetSchema: string
                    schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /goals-challenges/ endpoint with a GET method fetch a goals and challenges by userExternalId
      parameters:
        - type: string
          name: userExternalId
          in: query
          required: true
          description: User ID
        - type: string
          in: query
          name: currency
          description: 'The 3-character ISO 4217 currency code indicating the operating currency of the bank account. For example, the currency code for Chilean pesos is CLP'
      tags:
        - Goals & Challenges
      x-internal: true
      security:
        - apitoken: []
  /goals-challenges/composite/goalCategories:
    get:
      summary: Get goal categories
      tags:
        - Goals & Challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: string
                    description:
                      type: string
                    emoji:
                      type: string
                    emojiColor:
                      type: string
              colors:
                type: array
                items:
                  type: object
                  properties:
                    colorName:
                      type: string
                    emojiColor:
                      type: string
                    goalColor:
                      type: string
                    chartColor:
                      type: string
          examples:
            example:
              categories:
                - category: VACATION
                  description: Vacaciones
                  image: palm tree
                  emojiColor: D7EDBE
                - category: HOME
                  description: Vivienda y hogar
                  image: House with garden
                  emojiColor: FFEDB2
                - category: CAR
                  description: Auto
                  image: Sport utility vehicle
                  emojiColor: BEE1ED
                - category: HEALTH
                  description: Salud
                  image: hospital
                  emojiColor: FAC8C8
                - category: TECH
                  description: Tecnología
                  image: mobile phone
                  emojiColor: C2F2F0
                - category: OTHER
                  description: Otros
                  image: light bulb
                  emojiColor: E9CCFF
              colors:
                - colorName: BLUE
                  emojiColor: BEE1ED
                  cardColor: 64B2CC
                  chartColor: 8EC1EC
                - colorName: RED
                  emojiColor: FAC8C8
                  cardColor: E57070
                  chartColor: FA9696
                - colorName: SKY
                  emojiColor: C2F2F0
                  cardColor: 5ED6D0
                  chartColor: 8ED5ED
                - colorName: PURPLE
                  emojiColor: E9CCFF
                  cardColor: BE6CFF
                  chartColor: D8A6FF
                - colorName: GREEN
                  emojiColor: D7EDBE
                  cardColor: 97D54C
                  chartColor: D1FF99
                - colorName: YELLOW
                  emojiColor: FFEDB2
                  cardColor: FFD23D
                  chartColor: FFFF99
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: get-v1-goal-categories
      x-internal: false
      security:
        - apitoken: []
      description: The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /challengesDefault/ endpoint with a GET method fetch all challenges default.
    parameters: []
  /goals-challenges/composite/challengesDefault:
    get:
      summary: Get Active challenges in app
      tags:
        - Goals & Challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              goalschallenges:
                $ref: '#/definitions/GoalandChallenge'
              _links:
                type: array
                items:
                  $ref: '#/definitions/_links'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: get-v1-active-challenges
      x-internal: true
      security:
        - apitoken: []
      description: The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /challengesDefault/ endpoint with a GET method fetch all challenges default.
    parameters: []
  '/goals-challenges/composite/{id}/options':
    get:
      summary: Get Saving Options in app
      tags:
        - Goals & Challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: object
              properties:
                _id:
                  type: string
                name:
                  type: string
                type:
                  type: string
                description:
                  type: string
                status:
                  type: string
                currency:
                  type: string
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      APY:
                        type:
                          - integer
                          - number
            x-examples:
              Example 1:
                - _id: RECURRENT_PAYDAY
                  name: Dólar digital
                  type: PAYDAY_OPTION
                  description: La rentabilidad la generamos invirtiendo en bonos del tesoro de EEUU.
                  status: ACTIVE
                  currency: USDC
                  tags:
                    - APY: 4.13
                - _id: RECURRENT_PAYDAY
                  name: Peso chileno
                  type: PAYDAY_OPTION
                  description: ''
                  status: ACTIVE
                  currency: CLP
                  tags:
                    - APY: 0
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: get-v1-saving-options
      x-internal: true
      security:
        - apitoken: []
      description: The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /options/ endpoint with a GET method fetch all possible options to create a goal.
    parameters:
      - type: string
        name: id
        in: path
        required: true
  /goals-challenges/composite/rules:
    get:
      summary: Get Actives rules in app
      tags:
        - Goals & Challenges
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              rules:
                type: array
                items:
                  $ref: '#/definitions/Rule'
              _links:
                type: array
                items:
                  $ref: '#/definitions/_links'
          examples:
            Success response:
              rules:
                id: 62cc8f8a5136f82e4f4d3531
                name: Recurrent payment
                type: TRANSACTIONAL
                description: Premium user discount
              _links:
                - rel: string
                  route: string
                  method: string
                  targetSchema: string
                  schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: get-v1-active-rules
      x-internal: true
      security:
        - apitoken: []
    parameters: []
  '/goals-challenges/composite/{id}':
    get:
      summary: Get goal or challenge by id
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GoalandChallengeResponse'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              type: CHALLENGE
              description:
                title: 52 semanas con conomy.
                image: "\U0001F600"
                color: '#DF1CFF'
                detail: Con conomy podrás ahorrar sin darte cuenta.
              endTime: '2022-07-221T17:32:28Z'
              targetAmount: 200000
              balance: 0
              rules:
                - 629144bd1bde2cf264deefde
              status: ACTIVE
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
              _links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      operationId: get-v1-goals-challenge
      description: 'The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /goals-challenges/{id} endpoint with a GET method fetch a specific goal or challenge by id'
      parameters:
        - type: string
          in: query
          name: currency
          description: 'The 3-character ISO 4217 currency code indicating the operating currency of the bank account. For example, the currency code for Chilean pesos is CLP'
      tags:
        - Goals & Challenges
      x-internal: true
      security:
        - apitoken: []
    put:
      summary: Modify goal or challenge by id
      operationId: put-v1-goals-challenge
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GoalandChallengeResponse'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              type: CHALLENGE
              description:
                title: 52 semanas con conomy.
                image: "\U0001F600"
                color: '#DF1CFF'
                detail: Con conomy podrás ahorrar sin darte cuenta.
              endTime: '2022-07-221T17:32:28Z'
              targetAmount: 200000
              balance: 0
              rules:
                - 629144bd1bde2cf264deefde
              status: ACTIVE
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
              _links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: 'The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /goals-challenges/{id} endpoint with a PUT method updates a goal or challenge values by id'
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GoalandChallengeModify'
          x-examples: {}
      tags:
        - Goals & Challenges
      x-internal: true
      security:
        - apitoken: []
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Unique identifier of the user to be used
    delete:
      summary: Delete goal or challenge by id
      operationId: delete-v1-goals-challenges-id
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204':
          description: No content
          schema:
            $ref: '#/definitions/Response204'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: 'The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /goals-challenges/{id} endpoint with a PUT method deletes a goal or challenge values by id'
      tags:
        - Goals & Challenges
      x-internal: true
      security:
        - apitoken: []
  '/goals-challenges/composite/{id}/confirm':
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Unique identifier of the user to be used
    post:
      summary: Complete the setup of an objective or challenge
      operationId: post-v1-goals-challenges-id-confirm
      x-google-backend:
        deadline: '30'
        address: 'https://goals-and-challenges-composite-service-main-g37gx6oovq-uc.a.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GoalandChallengeResponse'
          examples:
            Success response:
              id: 62cc8f8a5136f82e4f4d3531
              userId: 96daafcf-9f83-4c2c-8706-eb557e20c23c
              userExternalId: 3c7634c41a7c48db8d8eed907f653865
              type: CHALLENGE
              description:
                title: 52 semanas con conomy.
                image: "\U0001F600"
                color: '#DF1CFF'
                detail: Con conomy podrás ahorrar sin darte cuenta.
              endTime: '2022-07-221T17:32:28Z'
              targetAmount: 200000
              balance: 0
              rules:
                - 629144bd1bde2cf264deefde
              status: ACTIVE
              createdAt: '2017-07-21T17:32:28Z'
              updatedAt: '2022-07-221T17:32:28Z'
              _links:
                rel: string
                route: string
                method: string
                targetSchema: string
                schema: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid or missing authentication token.
          schema:
            $ref: '#/definitions/Error401'
        '404':
          description: Data not found
          schema:
            $ref: '#/definitions/Error404'
        '500':
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error500'
      description: 'The goals and challenges service is responsible for storing and handling all goals and challenges of our users. The /goals-challenges/{id}/confirm endpoint with a POST method confirms the goal or challenge attempt, assigning with a status ACTIVE'
      tags:
        - Goals & Challenges
      security:
        - apitoken: []
  /auth/token:
    post:
      summary: Create a new jwt token to interactuate with conomy services
      operationId: post-v1-auth
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              externalId:
[...]
